<header class="uk-background-cover uk-position-relative  uk-text-center" itemscope itemtype="http://schema.org/WPHeader">
  <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
    <div class="uk-width-5-5@s  uk-section-secondary">
      <div  class=" uk-background-center-center uk-background-norepeat uk-background-cover uk-section uk-section-secondary uk-section-xlarge"
      style="background-image: linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), url('{{inside_header_img}}');"
      data-uk-parallax="bgy: -200; opacity: 1,0; viewport: 0.8">
      <div data-uk-parallax="opacity: 1,0; y: -50; viewport: 0.9">
        <h1  itemprop="headline" class="uk-heading-primary  uk-text-center uk-margin-small-bottom">
          {{seo.title}}
        </h1>
        <a href="#main" data-uk-scroll="">Jump to Main<span class="uk-margin-small-left uk-margin-small-right">&#8595;</span></a>
      </div>
    </div>
  </div>
</div>
</header>
