<!-- Footer JavaScripts --> 

<!-- UIkit JS --> 
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit.min.js"></script> 

<!-- jQuery is required --> 
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 


<!-- SWIPER --> 
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<!-- ResponsiveSlides -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.55/responsiveslides.min.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		/*! http://responsiveslides.com v1.55 by @viljamis */
		(function(c,K,C){c.fn.responsiveSlides=function(m){var a=c.extend({auto:!0,speed:500,timeout:4E3,pager:!1,nav:!1,random:!1,pause:!1,pauseControls:!0,prevText:"Previous",nextText:"Next",maxwidth:"",navContainer:"",manualControls:"",namespace:"rslides",before:c.noop,after:c.noop},m);return this.each(function(){C++;var f=c(this),u,t,v,n,q,r,p=0,e=f.children(),D=e.length,h=parseFloat(a.speed),E=parseFloat(a.timeout),w=parseFloat(a.maxwidth),g=a.namespace,d=g+C,F=g+"_nav "+d+"_nav",x=g+"_here",k=d+"_on",
			y=d+"_s",l=c("<ul class='"+g+"_tabs "+d+"_tabs' />"),z={"float":"left",position:"relative",opacity:1,zIndex:2},A={"float":"none",position:"absolute",opacity:0,zIndex:1},G=function(){var b=(document.body||document.documentElement).style,a="transition";if("string"===typeof b[a])return!0;u=["Moz","Webkit","Khtml","O","ms"];var a=a.charAt(0).toUpperCase()+a.substr(1),c;for(c=0;c<u.length;c++)if("string"===typeof b[u[c]+a])return!0;return!1}(),B=function(b){a.before(b);G?(e.removeClass(k).css(A).eq(b).addClass(k).css(z),
				p=b,setTimeout(function(){a.after(b)},h)):e.stop().fadeOut(h,function(){c(this).removeClass(k).css(A).css("opacity",1)}).eq(b).fadeIn(h,function(){c(this).addClass(k).css(z);a.after(b);p=b})};a.random&&(e.sort(function(){return Math.round(Math.random())-.5}),f.empty().append(e));e.each(function(a){this.id=y+a});f.addClass(g+" "+d);m&&m.maxwidth&&f.css("max-width",w);e.hide().css(A).eq(0).addClass(k).css(z).show();G&&e.show().css({"-webkit-transition":"opacity "+h+"ms ease-in-out","-moz-transition":"opacity "+
				h+"ms ease-in-out","-o-transition":"opacity "+h+"ms ease-in-out",transition:"opacity "+h+"ms ease-in-out"});if(1<e.length){if(E<h+100)return;if(a.pager&&!a.manualControls){var H=[];e.each(function(a){a+=1;H+="<li><a href='#' class='"+y+a+"'>"+a+"</a></li>"});l.append(H);m.navContainer?c(a.navContainer).append(l):f.after(l)}a.manualControls&&(l=c(a.manualControls),l.addClass(g+"_tabs "+d+"_tabs"));(a.pager||a.manualControls)&&l.find("li").each(function(a){c(this).addClass(y+(a+1))});if(a.pager||a.manualControls)r=
				l.find("a"),t=function(a){r.closest("li").removeClass(x).eq(a).addClass(x)};a.auto&&(v=function(){q=setInterval(function(){e.stop(!0,!0);var b=p+1<D?p+1:0;(a.pager||a.manualControls)&&t(b);B(b)},E)},v());n=function(){a.auto&&(clearInterval(q),v())};a.pause&&f.hover(function(){clearInterval(q)},function(){n()});if(a.pager||a.manualControls)r.bind("click",function(b){b.preventDefault();a.pauseControls||n();b=r.index(this);p===b||c("."+k).queue("fx").length||(t(b),B(b))}).eq(0).closest("li").addClass(x),
				a.pauseControls&&r.hover(function(){clearInterval(q)},function(){n()});if(a.nav){g="<a href='#' class='"+F+" prev'>"+a.prevText+"</a><a href='#' class='"+F+" next'>"+a.nextText+"</a>";m.navContainer?c(a.navContainer).append(g):f.after(g);var d=c("."+d+"_nav"),I=d.filter(".prev");d.bind("click",function(b){b.preventDefault();b=c("."+k);if(!b.queue("fx").length){var d=e.index(b);b=d-1;d=d+1<D?p+1:0;B(c(this)[0]===I[0]?b:d);(a.pager||a.manualControls)&&t(c(this)[0]===I[0]?b:d);a.pauseControls||n()}});
				a.pauseControls&&d.hover(function(){clearInterval(q)},function(){n()})}}if("undefined"===typeof document.body.style.maxWidth&&m.maxwidth){var J=function(){f.css("width","100%");f.width()>w&&f.css("width",w)};J();c(K).bind("resize",function(){J()})}})}})(jQuery,this,0);	
				
				//responsiveSlides
				$(function() {
					$(".rslides").responsiveSlides();
				});		
	});	
</script> 
<!-- READMORE -->
<script>
	/*!
		* @preserve
		*
		* Readmore.js jQuery plugin
		* Author: @jed_foster
		* Project home: http://jedfoster.github.io/Readmore.js
		* Licensed under the MIT license
		*
		* Debounce function from http://davidwalsh.name/javascript-debounce-function
	*/
	document.addEventListener("DOMContentLoaded", function() {
		
		!function(t){"function"==typeof define&&define.amd?define(["jquery"],t):"object"==typeof exports?module.exports=t(require("jquery")):t(jQuery)}(function(t){"use strict";function e(t,e,i){var o;return function(){var n=this,a=arguments,s=function(){o=null,i||t.apply(n,a)},r=i&&!o;clearTimeout(o),o=setTimeout(s,e),r&&t.apply(n,a)}}function i(t){var e=++h;return String(null==t?"rmjs-":t)+e}function o(t){var e=t.clone().css({height:"auto",width:t.width(),maxHeight:"none",overflow:"hidden"}).insertAfter(t),i=e.outerHeight(),o=parseInt(e.css({maxHeight:""}).css("max-height").replace(/[^-\d\.]/g,""),10),n=t.data("defaultHeight");e.remove();var a=o||t.data("collapsedHeight")||n;t.data({expandedHeight:i,maxHeight:o,collapsedHeight:a}).css({maxHeight:"none"})}function n(t){if(!d[t.selector]){var e=" ";t.embedCSS&&""!==t.blockCSS&&(e+=t.selector+" + [data-readmore-toggle], "+t.selector+"[data-readmore]{"+t.blockCSS+"}"),e+=t.selector+"[data-readmore]{transition: height "+t.speed+"ms;overflow: hidden;}",function(t,e){var i=t.createElement("style");i.type="text/css",i.styleSheet?i.styleSheet.cssText=e:i.appendChild(t.createTextNode(e)),t.getElementsByTagName("head")[0].appendChild(i)}(document,e),d[t.selector]=!0}}function a(e,i){this.element=e,this.options=t.extend({},r,i),n(this.options),this._defaults=r,this._name=s,this.init(),window.addEventListener?(window.addEventListener("load",c),window.addEventListener("resize",c)):(window.attachEvent("load",c),window.attachEvent("resize",c))}var s="readmore",r={speed:100,collapsedHeight:200,heightMargin:16,moreLink:'<a href="#">Read More</a>',lessLink:'<a href="#">Close</a>',embedCSS:!0,blockCSS:"display: block; width: 100%;",startOpen:!1,blockProcessed:function(){},beforeToggle:function(){},afterToggle:function(){}},d={},h=0,c=e(function(){t("[data-readmore]").each(function(){var e=t(this),i="true"===e.attr("aria-expanded");o(e),e.css({height:e.data(i?"expandedHeight":"collapsedHeight")})})},100);a.prototype={init:function(){var e=t(this.element);e.data({defaultHeight:this.options.collapsedHeight,heightMargin:this.options.heightMargin}),o(e);var n=e.data("collapsedHeight"),a=e.data("heightMargin");if(e.outerHeight(!0)<=n+a)return this.options.blockProcessed&&"function"==typeof this.options.blockProcessed&&this.options.blockProcessed(e,!1),!0;var s=e.attr("id")||i(),r=this.options.startOpen?this.options.lessLink:this.options.moreLink;e.attr({"data-readmore":"","aria-expanded":this.options.startOpen,id:s}),e.after(t(r).on("click",function(t){return function(i){t.toggle(this,e[0],i)}}(this)).attr({"data-readmore-toggle":s,"aria-controls":s})),this.options.startOpen||e.css({height:n}),this.options.blockProcessed&&"function"==typeof this.options.blockProcessed&&this.options.blockProcessed(e,!0)},toggle:function(e,i,o){o&&o.preventDefault(),e||(e=t('[aria-controls="'+this.element.id+'"]')[0]),i||(i=this.element);var n=t(i),a="",s="",r=!1,d=n.data("collapsedHeight");n.height()<=d?(a=n.data("expandedHeight")+"px",s="lessLink",r=!0):(a=d,s="moreLink"),this.options.beforeToggle&&"function"==typeof this.options.beforeToggle&&this.options.beforeToggle(e,n,!r),n.css({height:a}),n.on("transitionend",function(i){return function(){i.options.afterToggle&&"function"==typeof i.options.afterToggle&&i.options.afterToggle(e,n,r),t(this).attr({"aria-expanded":r}).off("transitionend")}}(this)),t(e).replaceWith(t(this.options[s]).on("click",function(t){return function(e){t.toggle(this,i,e)}}(this)).attr({"data-readmore-toggle":n.attr("id"),"aria-controls":n.attr("id")}))},destroy:function(){t(this.element).each(function(){var e=t(this);e.attr({"data-readmore":null,"aria-expanded":null}).css({maxHeight:"",height:""}).next("[data-readmore-toggle]").remove(),e.removeData()})}},t.fn.readmore=function(e){var i=arguments,o=this.selector;return e=e||{},"object"==typeof e?this.each(function(){if(t.data(this,"plugin_"+s)){var i=t.data(this,"plugin_"+s);i.destroy.apply(i)}e.selector=o,t.data(this,"plugin_"+s,new a(this,e))}):"string"==typeof e&&"_"!==e[0]&&"init"!==e?this.each(function(){var o=t.data(this,"plugin_"+s);o instanceof a&&"function"==typeof o[e]&&o[e].apply(o,Array.prototype.slice.call(i,1))}):void 0}});
		
		
		
		// Readmore
		$('.readmore').readmore({
			speed: 100, // (in milliseconds)
			collapsedHeight: 150, // (in pixels)
			heightMargin: 16, // (in pixels, avoids collapsing blocks that are only slightly larger than maxHeight)
			moreLink: '<a class="" style="text-decoration: underline;" href="#">קרא עוד<span>&nbsp;+</span></a>', // (raw HTML)
			lessLink: '<a class="" style="text-decoration: underline;" href="#">סגור <span>&nbsp;-</span></a>', // (raw HTML)
			embedCSS: true, // (insert required CSS dynamically, set this to false if you include the necessary CSS in a stylesheet)
			sectionCSS: 'display: block; width: 100%;', // (sets the styling of the blocks)
			startOpen: false, // (do not immediately truncate, start in the fully opened position)
			expandedClass: 'readmore-js-expanded', // (class added to expanded blocks)
			collapsedClass: 'readmore-js-collapsed', // (class added to collapsed blocks)
			beforeToggle: function() {}, // (called after a more or less link is clicked, but before the block is collapsed or expanded)
			
			afterToggle: function(trigger, element, expanded) {
				if(! expanded) { // The "Close" link was clicked
					$('html, body').animate( { scrollTop: element.offset().top }, {duration: 100 } );
				}
			}
		});
		
		
		
		
	});	
</script>

<!-- FancyBox3 --> 
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script> 
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		// Custom click event - open fancyBox manually
		// Choose what buttons to display by default
		$().fancybox({
			selector : '[data-fancybox="web-design-uix"]',
			thumbs   : true,
			hash     : true,
			infobar : true,
			arrows : true,
			buttons : [
			'thumbs',
			'close'
			],
			loop : true,
			transitionEffect  : "slide",
			thumbs : {
				autoStart : false
			},
			clickContent : function( current, event ) {
				return current.type === 'image' ? 'next' : false;
			},	
		});
		
		//Swiper/3
		var mySwiper = new Swiper('.swiper-container', {
			// Default parameters
			loop: false,
			speed: 400,
			centeredSlides: false,
			spaceBetween: 15,
			slidesPerView: 'auto',
			grabCursor: true,
			scrollbar: '.swiper-scrollbar',
			pagination: '.swiper-pagination',
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			paginationClickable: true,
			// Responsive breakpoints
			breakpoints: {
				// when window width is <= 320px
				320: {
					slidesPerView: 1,
					spaceBetween: 10
				},
				// when window width is <= 480px
				480: {
					slidesPerView: 1,
					spaceBetween: 20
				},
				// when window width is <= 640px
				640: {
					slidesPerView: 1,
					spaceBetween: 20
				}
			}
		});
		
		var mySwiper = new Swiper('.swiper-container-features', {
			// Default parameters
			
			speed: 400,
			centeredSlides: false,
			spaceBetween: 15,
			slidesPerView: 'auto',
			grabCursor: true,
			setWrapperSize: true,
			scrollbar: '.swiper-scrollbar',
			pagination: '.swiper-pagination',
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			paginationClickable: true,
			// Responsive breakpoints
			breakpoints: {
				// when window width is <= 320px
				320: {
					slidesPerView: 1,
					spaceBetween: 10
				},
				// when window width is <= 480px
				480: {
					slidesPerView: 1,
					spaceBetween: 20
				},
				// when window width is <= 640px
				640: {
					slidesPerView: 1,
					spaceBetween: 20
				}
			}
		});
		
		
		// VEGAS
		// Background SLideShow
		// Codepen Demo
		// https://vegas.jaysalvat.com/documentation/setup/
		$('header').vegas({
			overlay: true,
			transition: 'fade2', 
			transitionDuration: 5000,
			delay: 9000,
			color: 'black',
			shuffle: true,
			animation: 'random',
			animationDuration: 15000,
			
			overlay: 'https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.0/overlays/04.png',
			
			
			slides: [
			{ src: 'assets/img/webdesign/app-design-isometrics-mockup-uix-siton.jpg' },
			{ src: 'assets/img/webdesign/webdesign-uix-resturant-homepage-siton.jpg' },
			{ src: 'assets/img/webdesign/app-design-offcanvas-menu-design-siton.jpg' },
			{ src: 'assets/img/webdesign/webdesign-uix-about-page-rtl-siton.jpg' },
			{ src: 'assets/img/webdesign/webdesign-uix-startup-one-page-siton.jpg' },
			{ src: 'assets/img/webdesign/webdesign-uix-about-page-siton.jpg' }
			]
		});
		
		
		$('#vegas-laptop').vegas({
			
			transition: 'fade', 
			timer: false,
			color: 'black',
			shuffle: false,
			
			animationDuration: 20000,
			slides: [
			{ src: 'assets/img/homepage/mobile-design-uix-img.jpg' },
			{ src: 'assets/img/homepage/mobile-design-uix-img-2.jpg' },
			
			]
		});
		
		$('#vegas-laptop-white-macbook').vegas({
			
			transition: 'fade2', 
			timer: false,
			color: 'black',
			shuffle: false,
			
			animationDuration: 20000,
			slides: [
			{ src: 'assets/img/laptop.jpg' },
			{ src: 'assets/img/laptop-2.jpg' },
			
			]
		});
		
		
		
		
		
	});	
	
	
</script> 
